<div>
    <table>
        <tr>
            <td>X :</td>
            <td><input type="number" [(ngModel)]=x ></td>
        </tr>
        <tr>
            <td>Y :</td>
            <td><input type="number" [(ngModel)]=y ></td>
        </tr>
        
    </table>
    <input type="button" value=" +"  (click)="plus()">
    <input type="button" value=" -" (click)="moins()">
    <input type="button" value=" *" (click)="fois()">
    <input type="button" value=" /" (click)="divide()">
    <div >Result : <span [ngClass]="{'rouge':res<=0 ,'blue':res>0}">{{res}}</span></div>
</div>