.section{
    
    background-color: #222529;
    color: white;
    height: max-content;
    width: 80%;
    padding: 50px;
    margin: auto;
    border-radius: 0px 0px 24px 24px;
    flex-wrap: wrap;
    
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:#484f57;
    border-radius: 24px;
    
    text-align: center;
    
}
.item .down-content{
    padding: 5px;
    
}
.item h4{
    font-size: 15px;
    margin-bottom: 20px;
}

.item img{
    width: 100%;
    border-radius: 24px;
    margin-bottom: 20px;
}
.container{
    background-color:#343a40;
    border-radius: 25px;
    padding: 50px;
}



.most-played a{
    border-radius: 50px;
    transition: 0.5s;
    color: white;
    text-decoration: none;
    padding: 10px;
    
    
}

.down-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deleteButton:hover{
    background-color: rgb(102, 8, 8);
}


