<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em>Featured</em> Games</h4>
                </div>
                <div class="">
                  <div class="item" *ngFor="let game of games">
                    <div class="thumb">
                      <img src={{game.image}} alt="" class="browser-img">
                      <div class="hover-effect">
                        <h6>2.4K Streaming</h6>
                      </div>
                    </div>
                    <h4>{{game.name}}<br><span>{{game.downloads}}</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> {{game.rating}}</li>
                      <li><i class="fa fa-download"></i> {{game.downloads}}M</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="top-downloaded">
                <div class="heading-section">
                  <h4><em>Top</em> Downloaded</h4>
                </div>
                <ul>
                  <li *ngFor="let game of filteredGames.slice(0,3)">
                    <img src={{game.image}} alt="" class="templatemo-item browser-img">
                    <h4>{{game.name}}</h4>
                    <h6>{{game.genre}}</h6>
                    <span><i class="fa fa-star" style="color: yellow;"></i> {{game.rating}}</span>
                    <span><i class="fa fa-download" style="color: #ec6090;"></i>{{game.downloads}}M</span>
                    <div class="download">
                      <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                  </li>
                  
                </ul>
                <div class="text-button">
                  <a href="profile">View All Games</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

          <!-- ***** Start Stream Start ***** -->
          <div class="start-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>How To Start Your</em> Live Stream</h4>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="assets/images/service-01.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>Go To Your Profile</h4>
                    
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="assets/images/service-02.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>Live Stream Button</h4>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <div class="icon">
                      <img src="assets/images/service-03.jpg" alt="" style="max-width: 60px; border-radius: 50%;">
                    </div>
                    <h4>You Are Live</h4>
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="profile">Go To Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Start Stream End ***** -->

          <!-- ***** Live Stream Start ***** -->
          <div class="live-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Live Stream</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-6" *ngFor="let stream of streams">
                <div class="item">
                  <div class="thumb">
                    <a [routerLink]="['/streams']" [queryParams]="{ id: stream.id }">
                      <img src="{{ stream.image }}" alt="">
                    </a>
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a href="#">Live</a>
                        </div>
                        <ul>
                          <li><a href="#"><i class="fa fa-eye"></i> {{stream.views}}</a></li>
                          <li><a href="#"><i class="fa fa-gamepad"></i> {{stream.game}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                    <div class="avatar">
                      <img src="assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                    <span><i class="fa fa-check"></i> {{stream.userName}}</span>
                    <h4>{{stream.title}}</h4>
                  </div> 
                </div>
              </div>
              
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="streams">Discover All Streams</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Live Stream End ***** -->

        </div>
      </div>
    </div>
  </div>