<!--<div>
    <input type=text #nom>
    </div>
    <div>
    <button (click)="direBonjour(nom.value)">
    cliquer 
    </button>
    </div>
    <div>
    Bonjour {{ result }}
</div>
<div>
    <input type=text [(ngModel)]=nom></div>
    <div>
    Bonjour {{ nom }}
    </div>
    <form>
        <div>
        Nom : <input type=text name=nom [(ngModel)]=personne.nom>
        </div>
        <div>
        Prénom : <input type=text name=prenom [(ngModel)]=personne.prenom>
        </div>
        <div> <button> Ajouter </button> </div>
    </form>

<form #monForm=ngForm>
    <div>
    Nom : <input type=text name=nom [(ngModel)]=personne.nom required>
    </div>
    <div>
    Prénom : <input type=text name=prenom [(ngModel)]=personne.prenom required>
    </div>
    <div>
    <button [disabled]=!monForm.valid>
    Ajouter
    </button>
    </div>
    </form>
    
    <form #monForm=ngForm>
        <div>
        Nom : <input type=text name=nom [(ngModel)]=personne.nom required #nom>
        </div> {{ nom.className}}
        <div>
        Prénom : <input type=text name=prenom [(ngModel)]=personne.prenom required
        #prenom>
        </div> {{ prenom.className}}
        <div> <button [disabled]=!monForm.valid> ajouter </button> </div>
        </form>
    -->
    <form #monForm=ngForm (ngSubmit)=ajouterPersonne()>
        <div>
        Nom : <input type=text name=nom [(ngModel)]=personne.nom required #nom="ngModel">
        </div>
        <div>
        Prénom : <input type=text name=prenom [(ngModel)]=personne.prenom
        required #prenom="ngModel">
        </div>
        <div> <button [disabled]=!monForm.valid> ajouter </button> </div>
        <ul>
            <li *ngFor="let item of personnes">
                {{item.nom +" "+item.prenom}}
            </li>
        </ul>
    </form>
        