<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img *ngIf="personne[0]?.photo" [src]="personne[0].photo" alt="" style="border-radius: 23px;" class="main-profile-image">

                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                        
                      <span >Online</span>
                      <h4 *ngIf="personne[0]?.userName">{{personne[0].userName}}</h4>
                      <p>You Haven't Gone Live yet. Go Live By Touching The Button Below.</p>
                      <div class="main-border-button">
                        <a href="streams">Start Live Stream</a>
                      </div>
                      <div class="main-border-button">
                        <a href="login" (click)="handleLogout()">Logout</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Games Downloaded <span *ngIf="personne[0]?.gamesDownloaded">{{personne[0].gamesDownloaded?.length}}</span></li>
                      <li>Friends Online <span *ngIf="personne[0]?.friendsOnline">{{personne[0].friendsOnline?.length}}</span></li>
                      <li >Live Streams <span *ngIf="personne[0]?.liveStreams">{{personne[0].liveStreams?.length}}</span></li>
                      <li>Clips <span *ngIf="personne[0]?.clips">{{personne[0].clips?.length}}</span></li>
                      <li>Followed <span *ngIf="personne[0].followed">{{personne[0].followed.length}}</span></li>
                      <li>Games In Library<span *ngIf="personne[0].library">{{personne[0].library.length}}</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4><em>Your Most Popular</em> Clips</h4>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6" *ngFor="let clip of clips">
                          <div class="item">
                            <div class="thumb">
                              <img src={{clip.image}} alt="" style="border-radius: 23px;">
                              <a href={{clip.video}} target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>{{clip.title}}</h4>
                              <span><i class="fa fa-eye"></i> {{clip.views}}</span>
                            </div>
                            <a href="#">Like</a><br>
                            <a href="#">Dislike</a>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="main-button">
                            <a href="#">Load More Clips</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your Gaming</em> Library</h4>
              </div>
             
              <div class="item last-item" *ngFor="let item of personne[0].library">
                <ul>
                  <li><img src={{item.image}} alt="" class="templatemo-item image-library"></li>
                  <li><h4>{{item.name}}</h4><span>{{item.genre}}</span></li>
                  <li><h4>Date Added</h4><span>21/04/2022</span></li>
                  <li><h4>Hours Played</h4><span>0 H 0 Mins</span></li>
                  <li><button type="button" class="bttn" (click)="handleRemoveFromLibrary(item)">Remove From Library</button><div class="main-border-button border-active"><a href="#">Donwload</a></div></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>