<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img *ngIf="personne[0]?.photo" [src]="personne[0].photo" alt="" style="border-radius: 23px;" class="main-profile-image">

                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                        
                      <span >Online</span>
                      <h4 *ngIf="personne[0]?.userName">{{personne[0].userName}}</h4>
                      <p>You Haven't Gone Live yet. Go Live By Touching The Button Below.</p>
                      <div class="main-border-button">
                        <a href="streams">Start Live Stream</a>
                      </div>
                      <div class="main-border-button">
                        <a href="login" (click)="handleLogout()">Logout</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Games Downloaded <span *ngIf="personne[0]?.downloaded">{{personne[0].downloaded?.length}}</span></li>
                      <li>Friends Online <span *ngIf="personne[0]?.friendsOnline">{{personne[0].friendsOnline?.length}}</span></li>
                      <li >Live Streams <span *ngIf="personne[0]?.liveStreams">{{personne[0].liveStreams?.length}}</span></li>
                      <li>Clips <span *ngIf="personne[0]?.clips">{{personne[0].clips?.length}}</span></li>
                      <li>Following <span *ngIf="personne[0].Followed">{{personne[0].Followed.length}}</span></li>
                      <li>Games In Library<span *ngIf="personne[0].library">{{personne[0].library.length}}</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4><em>Your Most Popular</em> Clips</h4>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6" *ngIf="clips.length==0" class="noclips " >you didnt make any clips yet !<a href="" data-bs-toggle="modal" data-bs-target="#addClipModal" ><u>add clip ?</u></a></div>
                        <div class="col-lg-3 col-sm-6" *ngFor="let clip of clips">
                          <div class="item">
                            <div class="thumb">
                              <img src={{clip.image}} alt="" style="border-radius: 23px;">
                              <a href={{clip.video}} target="_blank"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="down-content">
                              <h4>{{clip.title}}</h4>
                              <span><i class="fa fa-eye"></i> {{clip.views}}</span>
                            </div>
                            <div class="moreButton">
                              <button type="button">Like</button>
                              <button type="button">Dislike</button>
                              <button type="button" (click)="deleteClip(clip)">Delete Clip</button>
                              
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="main-button">
                            <a *ngIf="clips.length>0" href="" data-bs-toggle="modal" data-bs-target="#addClipModal" ><u>add clip ?</u></a>
                            <a href="#">Load More Clips</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your Gaming</em> Library</h4>
              </div>
             
              <div class="item last-item" *ngFor="let item of personne[0].library">
                <ul>
                  <li><img src={{item.image}} alt="" class="templatemo-item image-library"></li>
                  <li><h4>{{item.name}}</h4><span>{{item.genre}}</span></li>
                  <li><h4>Date Added</h4><span>21/04/2022</span></li>
                  <li><h4>Hours Played</h4><span>0 H 0 Mins</span></li>
                  <li class="aligeitems"><button type="button" class="bttn" (click)="handleRemoveFromLibrary(item)">Remove From Library</button>
                    <button type="button" class="bttn" (click)="handeladdGameToDownloaded(item)">Donwload</button>
                    <div class="main-border-button border-active"></div></li>
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your Downloaded</em> Games</h4>
              </div>
             
              <div class="item last-item" *ngFor="let item of personne[0].downloaded">
                <ul>
                  <li><img src={{item.image}} alt="" class="templatemo-item image-library"></li>
                  <li><h4>{{item.name}}</h4><span>{{item.genre}}</span></li>
                  <li><h4>Date Added</h4><span>21/04/2022</span></li>
                  <li><h4>Hours Played</h4><span>0 H 0 Mins</span></li>
                  <li><button type="button" class="bttn" (click)="handleRemoveFromDownloads(item)">Remove From Downloads</button><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Follow</em>ing</h4>
              </div>
             
              <div class="item last-item" *ngFor="let streamer of following">
                <ul>
                  <li><img src={{streamer.image}} alt="" class="templatemo-item image-library"></li>
                  <li><h4>{{streamer.name}}</h4><span *ngIf="streamer.verified"><i class="fa fa-check"></i></span>
                    <span *ngIf="!streamer.verified">Unverified</span>
                  </li>
                  <li><h4>Date Follow</h4><span>21/04/2022</span></li>
                  <li><h4>Hours Watched</h4><span>0 H 0 Mins</span></li>
                  <li><button type="button" class="bttn" (click)="handleUnfollow(streamer)">Unfollow</button></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap Modal -->
<div class="modal fade" id="addClipModal" tabindex="-1" aria-labelledby="addClipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal content goes here -->
      <div class="modal-header">
        <h5 class="modal-title" id="addClipModalLabel"><u>Add Clip</u></h5>
        <button type="button" class="bttn" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <!-- Add your form or content for adding a clip here -->
        <form [formGroup]="addClipForm" class="formme">
          <table>
            <tr>
              <td><label for="id">ID</label></td>
              <td><input type="text" id="id" formControlName="id"></td>
            </tr>
            <tr>
              <td><label for="title">Title</label></td>
              <td><input type="text" id="title" formControlName="title"></td>
            </tr>
            <tr>
              <td><label for="description">Description</label></td>
              <td><textarea id="description" formControlName="description"></textarea></td>
            </tr>
            <tr>
              <td><label for="game">Game</label></td>
              <td><input type="text" id="game" formControlName="game"></td>
            </tr>
            <tr>
              <td><label for="views">Views</label></td>
              <td><input type="number" id="views" formControlName="views"></td>
            </tr>
            
            <tr>
              <td><label for="video">Video</label></td>
              <td><input type="text" id="video" formControlName="video"></td>
            </tr>
            <tr>
              <td><label for="image">Image</label></td>
              <td><input type="text" id="image" formControlName="image"></td>
            </tr>
            <tr>
              <td><label for="userName">User Name</label></td>
              <td><input type="text" id="userName" formControlName="userName"></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="bttn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="bttn" (click)="addClip()">Add Clip</button>
      </div>
    </div>
  </div>
</div>
