<div class="main_container">
    <div class="Wrapper">
        <div class="main_container-text">
            <div class="main-text">WELCOME TO <span>GAMEVERSE</span></div>
            <div class="description-text">BEST <span>GAMING</span> SITE EVER!</div>
            <div class="description-text1">
                Welcome to Gameverse, your ultimate destination for all things gaming! Immerse yourself in a world where pixels come to life, and virtual adventures await at every click. Gameverse is not just a website; it's your portal to a gaming universe filled with excitement, discovery, and a community that shares your passion for the game.
            </div>
            <div class="search">
                <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword" onkeypress="handle">
                <button role="button">SEARCH NOW</button>
            </div>
            
        </div>
        
        <div class="main_container-card"><img class="main_container-img" src="../../../assets/images.jpg"></div>
        
    </div>
    <div class="services">
        <div class="services-item storage"><img src="../../../assets/featured-01.png"> Free Storage</div>
        <div class="services-item user-more"><img src="../../../assets/featured-02.png"> User More</div>
        <div class="services-item reply-ready"><img src="../../../assets/featured-03.png"> Reply Ready</div>
        <div class="services-item easy-layout"><img src="../../../assets/featured-04.png"> Eeasy Layout</div>
        
    </div>
    <div class="blank"></div>
</div>